.testimonial__text p:before {
		content: '“'
}
.testimonial__text p:after {
	content: '”'
}
.gallery__wrapper a,
.gallery__wrapper a:hover,
.gallery__wrapper a:visited,
.slide-title a,
.slide-title a:hover,
.slide-title a:visited,
.left__employee a,
.left__employee a:hover,
.left__employee a:visited {
	color: #df0007 !important;
}
.swiper-2 .swiper-slide {
	width: 100%;
}
.swiper-2 {
	padding-bottom: 0.1rem;
}

.container-right ul {
	margin-left: 0 !important;
}
.container-right li:not(.starfrecht__item),
.starfrecht__intro li:not(.starfrecht__item) {
	/*font-size: .121rem !important;*/
	margin: 0.75em 0 !important;
	position: relative !important;
	
}

.container-right ul li:not(.starfrecht__item),
.starfrecht__intro ul li:not(.starfrecht__item) {
	padding-left: 3em !important;
	list-style: none !important;
}
/* https://www.w3.org/Style/Examples/007/color-bullets.en.html */
.container-right ol,
.starfrecht__intro ol {
	padding-left: 3em !important;
}

.container-right li:not(.starfrecht__item):before,
.starfrecht__intro li:not(.starfrecht__item):before {
	position: absolute !important;
	left: 1.4em !important;
	top: -0.15em !important;
	font-size: 1.2em !important;
	color: #df0007 !important;
}

.container-right ul li:not(.starfrecht__item):before,
.starfrecht__intro ul li:not(.starfrecht__item):before {
	content: '■' !important;
}

@media only screen and (min-width: 769px) {
	.datenschutzerklarung .container-right ul,
	.datenschutzerklarung .container-right p,
	.datenschutzerklarung .container-right p:not(:last-of-type) {
		font-size: .104rem;
		margin: 0;
	}
	.u_mt--1 {
		top: 0;
	}
}

.datenschutzerklarung .container-right ul,
.datenschutzerklarung .container-right p,
.datenschutzerklarung .container-right p:not(:last-of-type) {
	margin: 0 0 1.5em 0;
}



@media only screen and (max-width: 768px) {
	.container-right ul,
	.starfrecht__intro ul {
		margin-bottom: 2em !important;
	}
}

.disclaimer {		z-index: 9;}

.hasDisclaimer .icon-border { 	visibility: hidden; }

.person .container-right__text {
	font-size: .167rem;
	width: 100%;
	line-height: 1.5;
}

.person .container-left {
	font-size: .167rem;
}

